<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.david.webapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/curriculum"
        android:label="Resume of David LUONG"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity" />
        <activity android:name=".personal"
            android:label="My Personal details"/>
        <activity
            android:name=".education"
            android:label="Education History"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".employement"
            android:label="Employement History"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".about"
            android:label="About the App!"/>
        <activity android:name=".ref"
            android:label="My references"/>
        <activity android:name=".project"
            android:label="My future project"/>
        <activity
            android:name=".interet"
            android:label="Interest &amp; Hobbies"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".skill"
            android:label="My personal Skills"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>